:root {
  --title-color: #212121;
  --text-color: #757575;
  --main-accent-color: #2196f3;
  --second-accent-color: #ffffff;
  --logo-color: #000000;
  --hero-bg-color: #2f303a;
  --team-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --btn-hover-color: #188ce8;
}

body {
  font-family: Roboto, Tahoma, sans-serif;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* ---------------------HEADER--------------------- */
.header {
  background: var(--second-accent-color);
}

.header-logo {
  font-family: Raleway, Tahoma, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color);
}

.accent {
  color: var(--main-accent-color);
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--title-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--main-accent-color);
}

.header-link.current {
  color: var(--main-accent-color);
}

.header-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.header-contacts:hover,
.header-contacts:focus {
  color: var(--main-accent-color);
}

/* ---------------------HERO--------------------- */

.hero {
  background: var(--hero-bg-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-accent-color);
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--second-accent-color);
  background: var(--main-accent-color);
  cursor: pointer;
}
.hero-btn:hover {
  background-color: var(--btn-hover-color);
}
